html
{
	margin:0;
	padding:0;
}
body 
{
	background-color: #E6E6E6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8 em;
}
#container
{
	min-height: 600px;
	border-bottom: 6px solid #454545;
}
#content_frame
{
	min-height: 600px;
	border-left: 3px solid #454545;
}
#content
{
	margin-left: 300px;
}
#nav
{
	float: left;
	width: 300px;
	padding: none;
	background-color: #FFFFCC;
	min-height: 600px;
}
h2
{
	background-color: #454545;
	color: #FFFFFF;
	text-align: center;
	padding: 4px;

}

h3
{
	background-color: #001F7A;
	color: #FFFFFF;
	text-align: left;
	padding: 2px;
	border-bottom: 3px solid #6679AF;
	margin: 4px;
}

input
{
	font-size: 1.2em;
	background-color: #FFFFCC;
	border-color: #000000;
	border-style: solid;
	border-width: 2px
}
textarea
{
	font-size: 1.2em;
	background-color: #FFFFCC;
	border-color: #000000;
	border-style: solid;
	border-width: 2px
}
.button 
{
	font-size: 1.2em;
	text-decoration: none;
	background-color: #FFFFCC;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border: 2px solid #000000;
}

div
{
	background-color: #FFFFFF;
	font-size: 1 em;
}

.information
{
	margin: 4px;
}

.user
{
	margin: 2px;
	text-align: right;
}

iframe 
{
	display:block;
	width:100%;
}

ul
{
	width: 100%;
	margin: 6px;
}

td
{
	background-color: #FFFFFF;
}