<!doctype html>
<html>
<head>
<title>Item Details</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% if access_token %}
  <form action="#" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td colspan="2"><input type="text" name="title" size="50" value="{{ item.title }}"></td>
	</tr>
	<tr>
	  <td colspan="2">
	    <textarea name="description" rows="4" cols="50">{{ item.description }}</textarea>
	  </td>
	</tr>
	  <td colspan="2">
	    Change item image <input type="file" name="image" class="button">
	  </td>
	<tr>
      <td><input type="submit" value="Save" id="submit"></td>
	  <td><a class="button" href="/item/delete/{{ item.id }}">Delete</a></td>
	</tr>
  </table>
  {% if item.image is none %}
    <img src="{{ url_for('static', filename='images/no_image.png') }}" width="250px"/>
  {% else %}
    <img src="{{ url_for('static', filename='images/' ~ item.image) }}" width="250px"/>
  {% endif %}
  </form>
{% else %}
  <h3>{{ item.title }}</h3>
  <div class="information">
{{ item.description }}
  </div>
  {% if item.image is none %}
    <img src="{{ url_for('static', filename='images/no_image.png') }}" width="250px"/>
  {% else %}
    <img src="{{ url_for('static', filename='images/' ~ item.image) }}" width="250px"/>
  {% endif %}
{% endif %}
</body>
</html>