<!doctype html>
<html>
<head>
<title>Item Catalog</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jstree.min.js') }}"></script>
{{ credentials }}<br>{{ user }}<br>{{ access_token }}
{% if not credentials %}
    <a href="{{ url_for('login') }}">log in</a>
{% else %}
    Welcome {{ user }} <a href="{{ url_for('gdisconnect') }}">log out</a><br>{{ access_token }}
{% endif %}

  <h2>Item Catalog</h2>
<div id="container">
<div id="nav">
{{ categories_list|safe }}
</div>
<div id="content">
  <iframe id="content_frame" src="http://www.purple.com/index.html"></iframe>
</div>
</div>
  <script>
  $.jstree.defaults.core.themes.icons = false;
  $('#nav').jstree();
  
  // expand node on click or open the subcategory items list is there is a number in the url 
  $("#nav").bind("select_node.jstree", function (e, data) {
    url = data.node.data.jstree.url;
	if (url == "#") {
		return data.instance.toggle_node(data.node);
	}
	else {
		var iframe = $('#content_frame');
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		//alert($SCRIPT_ROOT);
		iframe.attr('src', $SCRIPT_ROOT + '/subcategory_items/' + url);
	}
  });

	$('#datatree').jstree({
		'core' : {
			themes : {
				icons : false
			}, 
		}
	});
  </script>
  
</body>

</html>