<!doctype html>
<html>
<head>
<title>Item Details</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% if access_token %}
  <form action="#" method="post">
  <table>
    <tr>
      <td colspan="2"><input type="text" name="title" size="50" value="{{ item.title }}"></td>
	</tr>
	<tr>
	  <td colspan="2">
	    <textarea name="description" rows="4" cols="50">{{ item.description }}</textarea>
	  </td>
	</tr>
	<tr>
      <td><input type="submit" value="save" id="submit"></td>
	  <td><a href="/item/delete/{{ item.id }}">delete"</a></td>
	</tr>
  </table>
  </form>
{% else %}
  <h3>{{ item.title }}</h3>
  <div class="information">
{{ item.description }}
  </div>
{% endif %}
</body>
</html>