<!doctype html>
<html>
<head>
<title>Item Catalog</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jstree.min.js') }}"></script>
{{ credentials }}<br>{{ user }}<br>{{ access_token }}
{% if not credentials %}
    <a href="{{ url_for('login') }}">log in</a>
{% else %}
    Welcome {{ user }} <a href="{{ url_for('gdisconnect') }}">log out</a><br>{{ access_token }}
{% endif %}

  <h2>Item Catalog</h2>
<div id="container">
<div id="nav">
{{ categories_list|safe }}
</div>
<div id="content">
  <iframe id="content" src="http://www.purple.com/faq.html" width="600" height="500"></iframe>
</div>
</div>
  <script>
  $.jstree.defaults.core.themes.icons = false;
  $('#nav').jstree();
  
  // expand node on click or follow link if there is a url 
  $("#nav").bind("select_node.jstree", function (e, data) {
    url = data.node.data.jstree.url;
	if (url == "#") {
		return data.instance.toggle_node(data.node);
	}
	else {
		var iframe = $('#content');
		iframe.attr('src', url)
	}
  });

	$('#datatree').jstree({
		'core' : {
			themes : {
				icons : false
			}, 
		}
	});
	
  // expand node on click or follow link if there is a url 
  $("#datatree").bind("select_node.jstree", function (e, data) {
    url = data.node.a_attr.href;
	if (url == "#") {
		return data.instance.toggle_node(data.node);
	}
	else {
		var iframe = $('#content');
		iframe.attr('src', url)
	}
  });
  </script>
  
</body>

</html>