<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>jquery tree</title>
	<style>
	html { margin:0; padding:0; font-size:62.5%; }
	body { max-width:800px; min-width:300px; margin:0 auto; padding:20px 10px; font-size:1.4em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
	h1 { font-size:1.8em; }
	.demo { overflow:auto; border:1px solid silver; min-height:100px; }
	</style>
	<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/style.mellis.css') }}" />
</head>
<body>
  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jstree.min.js') }}"></script>
  <h1>TREE</h1>
  
  <h1>Testing JSON Tree</h1>
  <div id="datatree" class="demo"></div>
  <div id="ultest" class="demo">
    <ul>
	  <li data-jstree='{"opened":false,"selected":false,"url":"#"}'>
	    Screws
		<ul>
		  <li data-jstree='{"url":"http://www.purple.com/purple.html"}'>Machine</li>
		  <li data-jstree='{"url":"http://www.purple.com/faq.html"}'>Sheet Metal</li>
		</ul>
	  </li>
	  <li data-jstree='{"opened":false,"selected":false,"url":"#"}'>
	    Bolts
		<ul>
		  <li data-jstree='{"url":"http://www.purple.com/purple.html"}'>Hex</li>
		  <li data-jstree='{"url":"/template/"}'>Carriage</li>
		</ul>
	  </li>
	</ul>
  </div>
  <h1>Target Frame<h1>
    <div id="info" class="demo">
	  <iframe id="content" src="http://www.purple.com/purple.html" width="600" height="500"></iframe>
	</div>
	
  <script>
  //html test
  $.jstree.defaults.core.themes.icons = false;
  $('#ultest').jstree();
  
  // expand node on click or follow link if there is a url 
  $("#ultest").bind("select_node.jstree", function (e, data) {
	//alert(data.node.data.toSource());
	//alert(data.node.data.jstree.url);
    url = data.node.data.jstree.url;
	if (url == "#") {
		return data.instance.toggle_node(data.node);
	}
	else {
		var iframe = $('#content');
		iframe.attr('src', url)
	}
  });
  
  // inline data demo
	myData = [{text : 'Screws', state : { opened : false, selected : false }, children : [
				{ text : '<a href="#">Machine</a>', a_attr : { href : 'http://www.purple.com/purple.html' } },
				{ text : '<a href="#">Sheet Metal</a>', a_attr : { href : 'http://www.purple.com/faq.html' } }
			]},
			{text : 'Bolts', state : { opened : false, selected : false }, children : [
				{ text : '<a href="#">Hex</a>', a_attr : { href : 'http://www.purple.com/purple.html' } },
				{ text : '<a href="#">Carriage</a>', a_attr : { href : 'http://www.purple.com/faq.html' } }
			]}
			];

	$('#datatree').jstree({
		'core' : {
			themes : {
				icons : false
			}, 
			data : myData
		}
	});
	
  // expand node on click or follow link if there is a url 
  $("#datatree").bind("select_node.jstree", function (e, data) {
    url = data.node.a_attr.href;
	if (url == "#") {
		return data.instance.toggle_node(data.node);
	}
	else {
		var iframe = $('#content');
		iframe.attr('src', url)
	}
  });
  </script>
</body>

</html>